.logo_section {
    margin-top: 10%;
    padding: 0;
    margin-bottom: 5%;
}

.logo_section img {
    width: 30%
}

.links_section h1 {
    margin-bottom: 20px;
}

.links_section ul {
    padding: 0;
}

.links_section li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.links_section a {
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}

.links_section a:hover {
    text-decoration: none;
    color: #349ead;
}