<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Annonce 1</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
   <header>
                <nav class="navbar">
                    <div class="col-5 offset-1" style="padding: 0">
                        <a class="navbar-brand" href="#">
                            <img src="../../static/img/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="col-5 text-right" style="padding: 0">
                        <a class="job_link" href="#">
                            <p class="job_title">Alternance Développeur.se DJANGO</p>
                        </a>
                    </div>
                    <div class="col-1" style="padding: 0"></div>
                </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <section class="annonce col-6 offset-1">
                <div class="text col-11">
                    <h1>Alternance Développeur.se DJANGO</h1>
                    <p>NOÉSOFT  est  une  jeune  société de  services en  pleine  croissance.  Nous  développons  des applications  web  et  mobiles
                        pour  le  compte  de  PME  dans  des  domaines  très  variés: ascensoristes,librairies, gestion immobilière...
                        Chaque  projet  est  l’occasion  d’apporter  un maximum de valeur aux utilisateurs!</p>
                    <p>Pour accompagner cette croissance, nous sommes à la
                        recherche d’un.e développeur.se weben  alternance. Tu  seras  rattaché.e  au  dirigeant  de  la  société,  Product  Owner  certifié  et expérimenté.
                        Sur  certains  projets,  ton  travail pourra  êtreencadré  par  Robin, l’excellent enseignantde la CodingFactory.</p>
                    <p>Tes missions:</p>
                    <ul>
                        <li>Comprendre les enjeux de chaque projet</li>
                        <li>Étudier les user stories(Scrum)</li>
                        <li>Proposer et mettre en place l’architecture logicielle</li>
                        <li>Développer avec Djangoet Bootstrap(HTML, CSS, JS)</li>
                        <li>Mettre en place des testsunitaires</li>
                        <li>Suivre ton code avec Git (Gitlab)</li>
                        <li>Déployer avec des outils tels que Ansible</li>
                        <li>Présenter les nouvelles fonctionnalités</li>
                        <li>Suggérer des améliorationscôté code et côté méthode</li>
                    </ul>
                    <p>Passionné par le développement, convaincu que Django est un choix technologique pertinent, autonome  et  à  l’écoute,  tu  cherches  une  alternance
                        qui  te  permettra  de  monter  en compétences sur de nombreux sujets tout en donnant beaucoup desens à ton travail.</p>
                    <p>Lieu: Paris 9 dans un espace de coworking avec une super ambiance, d’autres sociétés dans l’édition de logiciels, un babyfoot et des apéros réguliers;)</p>
                    <p>Démarrage: à partir de juillet 2020pour 1 année d’alternance renouvelable </p>
                </div>

            </section>
            <section class="postuler col-4">
                <h1>Ta candidature</h1>
                <div class="row">
                    <div class="form_titles col-3 offset-1 text-right">
                        <p>Prénom</p>
                        <p>Nom</p>
                        <p>Email</p>
                        <p>Téléphone</p>
                        <p>CV</p>
                        <p>Message</p>
                    </div>
                    <div class="form_candidate col-6">
                        <form>
                            <input type="text" id="name" class="form_inputs" name="name" required>
                            <input type="text" id="lastname" class="form_inputs" name="lastname" required>
                            <input type="email" id="mail" class="form_inputs" name="mail" required>
                            <input type="tel" id="phone" class="form_inputs" name="phone" required>
                            <input type="file" id="load_btn" name="file">
                            <textarea id="message" class="form_inputs" name="message" rows="5" required></textarea>
                            <input id="submit_btn" type="submit" value="POSTULER">
                        </form>
                    </div>
                </div>
            </section>
        </div>

    </div>
</body>
</html>